<%- include("../../loading") %>

  <h2> Create Student </h2>

  <section>
    <form>
      <label for="name"> Name </label>
      <input type="text" required id="name">
      <label for="empid"> Rollno </label>
      <input type="text" required id="rollno">
      <label for="sectionId"> Section </label>
      <select id="sectionId" name="sectionId">

        <% for (const section of sections) { %>
        <option value="<%- section.id %>"> <%- section.name %> </option>
        <% } %>

      </select>
      <label for="password"> Password </label>
      <input type="password" required id="password">
      <label for="confirm"> Confirm Password </label>
      <input type="password" required id="confirmPassword">
      <button type="submit"> Save </button>
    </form>

  </section>
  <script>
    const form = document.querySelector("form");
    const confirmPassword = document.getElementById("confirmPassword");
    const password = document.getElementById("password");

    confirmPassword.onchange = () => {
      if (confirmPassword.value != password.value)
        confirmPassword.setCustomValidity("Passwords Dont match");
      else
        confirmPassword.setCustomValidity("");
    }

    form.onsubmit = async (e) => {
      e.preventDefault();
      console.log("submitted")

      if (password.value != confirmPassword.value)
        return console.log("passwords dont match");

      initLoading();

      try {
        const res = await fetch(`/admin/student/add`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: document.getElementById("name").value,
            password: document.getElementById("password").value,
            rollno: document.getElementById("rollno").value,
            sectionId: document.getElementById("sectionId").value
          }),
        })

        if (res.ok)
          finishLoading("Successfully Added", "Back", () => location.href = "/admin/");
        else
          finishLoading("Failed to Add", "Retry", () => cancelLoading());

      } catch (e) {
        finishLoading("Failed to Add", "Retry", () => cancelLoading());
      }
    }
  </script>
