<p> Add attendence </p>

<table>
  <tr>
    <th> Section Name </th>
    <th> Course Name </th>
  </tr>
  <% for (const detail of details) { %>
  <tr>
    <td>
      <%- detail.sectionName %>,
    </td>
    <td>
      <%- detail.courseName %>
    </td>
    <td>
      <a href="/faculty/attendence/add/<%- detail.sectionId%>/<%- detail.courseId %>"> Add </a>
    </td>
  </tr>
  <% } %>
</table>
