<h1> Login Page </h1>
<section>
  <form action="/auth/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="text" name="redirect" hidden value="<%- redirect %>">
    <button> Login </button>
  </form>
</section>
