<h3> Add Exam </h3>

<table>
  <tr>
    <th> Section Name </th>
    <th> Course Name </th>
  </tr>
  <% for (const detail of details) { %>
    <tr>
      <td>
        <%- detail.sectionName %>
      </td>
      <td>
        <%- detail.courseName %>
      </td>
      <td>
        <a href="/faculty/exams/add/<%- detail.sectionId%>/<%- detail.courseId %>"> Select </a>
      </td>
    </tr>
    <% } %>
</table>
